[submodule "dotvim/bundle/vimwiki"]
	path = dotvim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "dotvim/bundle/taglist.vim"]
	path = dotvim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/syntastic"]
    path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/delimitMate"]
    path = dotvim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "dotvim/bundle/unimpaired.vim"]
	path = dotvim/bundle/unimpaired.vim
	url = https://github.com/vim-scripts/unimpaired.vim.git
[submodule "dotvim/bundle/bash-support.vim"]
	path = dotvim/bundle/bash-support.vim
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "dotvim/bundle/vim-surround"]
    path = dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/autocorrect"]
    path = dotvim/bundle/autocorrect.vim
	url = https://github.com/vim-scripts/autocorrect.vim.git
[submodule "dotvim/bundle/ctrlp.vim"]
	path = dotvim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotvim/bundle/csapprox"]
    path = dotvim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "dotvim/bundle/vim-endwise"]
    path = dotvim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "dotvim/bundle/TextFormat"]
	path = dotvim/bundle/TextFormat
	url = https://github.com/vim-scripts/TextFormat.git
[submodule "dotvim/bundle/vim-flake8"]
    path = dotvim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "dotvim/bundle/vim-ruby"]
    path = dotvim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dotvim/bundle/vim-rooter"]
    path = dotvim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "dotvim/bundle/nerdcommenter"]
    path = dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/TaskList.vim"]
    path = dotvim/bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "dotvim/bundle/tabular"]
    path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotvim/bundle/supertab"]
    path = dotvim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dotvim/bundle/vim-puppet"]
    path = dotvim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "dotvim/bundle/vim-pathogen"]
    path = dotvim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotvim/bundle/jedi-vim"]
    path = dotvim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "dotvim/bundle/DrawIt"]
	path = dotvim/bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "dotvim/bundle/vim-notes"]
	path = dotvim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "dotvim/bundle/vim-misc"]
	path = dotvim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "dotvim/bundle/vim-gitgutter"]
	path = dotvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotvim/bundle/emmet-vim"]
	path = dotvim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "dotvim/bundle/vim-snippets"]
	path = dotvim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotvim/bundle/tlib_vim"]
	path = dotvim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dotvim/bundle/vim-addon-mw-utils"]
	path = dotvim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dotvim/bundle/gist-vim"]
	path = dotvim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "dotvim/bundle/webapi-vim"]
	path = dotvim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "dotvim/bundle/vim-snipmate"]
	path = dotvim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "dotvim/bundle/ack.vim"]
	path = dotvim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "dotvim/bundle/vim-ctrlspace"]
	path = dotvim/bundle/vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace
[submodule "dotvim/bundle/vim-tomorrow-theme"]
	path = dotvim/bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "dotvim/bundle/vim-expand-region"]
	path = dotvim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "dotvim/bundle/vim-vroom"]
	path = dotvim/bundle/vim-vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "dotvim/bundle/vim-github-comment"]
	path = dotvim/bundle/vim-github-comment
	url = https://github.com/mmozuras/vim-github-comment.git
[submodule "dotvim/bundle/vim-github-dashboard"]
	path = dotvim/bundle/vim-github-dashboard
	url = https://github.com/junegunn/vim-github-dashboard.git
[submodule "dotvim/bundle/vim-splice"]
	path = dotvim/bundle/vim-splice
	url = https://github.com/sjl/splice.vim.git
[submodule "dotvim/bundle/vCoolor.vim"]
	path = dotvim/bundle/vCoolor.vim
	url = https://github.com/KabbAmine/vCoolor.vim.git
[submodule "dotvim/bundle/vim-solarized"]
	path = dotvim/bundle/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "dotvim/bundle/asciidoc-vim"]
	path = dotvim/bundle/asciidoc-vim
	url = https://github.com/dagwieers/asciidoc-vim.git
[submodule "dotvim/bundle/vim-airline"]
	path = dotvim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotvim/bundle/ZoomWin"]
	path = dotvim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "dotvim/bundle/Tabmerge"]
	path = dotvim/bundle/Tabmerge
	url = https://github.com/vim-scripts/Tabmerge.git
[submodule "dotvim/bundle/rainbow_parentheses.vim"]
	path = dotvim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "dotvim/bundle/vim-bookmarks"]
	path = dotvim/bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "dotvim/bundle/vim-choosewin"]
	path = dotvim/bundle/vim-choosewin
	url = https://github.com/t9md/vim-choosewin.git
[submodule "dotvim/bundle/vim-css-color"]
	path = dotvim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "dotvim/bundle/vim-nerdtree-tabs"]
	path = dotvim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "dotvim/bundle/vim-easymotion"]
	path = dotvim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "dotvim/bundle/gundo-vim"]
	path = dotvim/bundle/gundo-vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "dotvim/bundle/vim-tmux-navigator"]
	path = dotvim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "dotvim/bundle/vim-abolish"]
	path = dotvim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "dotvim/bundle/vim-wombat256i"]
	path = dotvim/bundle/vim-wombat256i
	url = https://github.com/dsolstad/vim-wombat256i.git
[submodule "dotvim/bundle/vim-better-whitespace"]
	path = dotvim/bundle/vim-better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
[submodule "dotvim/bundle/vim-eunuch"]
	path = dotvim/bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "dotvim/bundle/nerdsnippets"]
	path = dotvim/bundle/nerdsnippets
	url = https://github.com/scrooloose/nerdsnippets
[submodule "dotvim/bundle/vim-git"]
	path = dotvim/bundle/vim-git
	url = https://github.com/tpope/vim-git
[submodule "dotvim/bundle/gitv"]
	path = dotvim/bundle/gitv
	url = https://github.com/gregsexton/gitv
[submodule "dotvim/bundle/vim-speeddating"]
	path = dotvim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "dotvim/bundle/vim-virtualenv"]
	path = dotvim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "dotvim/bundle/BufOnly"]
	path = dotvim/bundle/BufOnly
	url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule "dotvim/bundle/vim-scratch"]
	path = dotvim/bundle/vim-scratch
	url = https://github.com/duff/vim-scratch.git
[submodule "dotvim/bundle/targets.vim"]
	path = dotvim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "dotvim/bundle/wildfire.vim"]
	path = dotvim/bundle/wildfire.vim
	url = https://github.com/gcmt/wildfire.vim.git
[submodule "dotvim/bundle/python-mode"]
	path = dotvim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "dotvim/bundle/vim-tbone"]
	path = dotvim/bundle/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "dotvim/bundle/vim-multiple-cursors"]
	path = dotvim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "dotvim/bundle/conoline.vim"]
	path = dotvim/bundle/conoline.vim
	url = git@github.com:miyakogi/conoline.vim.git
