[submodule "dotvim/bundle/vimwiki"]
	path = dotvim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "dotvim/bundle/taglist.vim"]
	path = dotvim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/snippetsEmu"]
	path = dotvim/bundle/snippetsEmu
	url = https://github.com/vim-scripts/snippetsEmu.git
[submodule "dotvim/bundle/syntastic"]
    path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/delimitMate"]
    path = dotvim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "dotvim/bundle/snipmate.vim"]
	path = dotvim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "dotvim/bundle/unimpaired.vim"]
	path = dotvim/bundle/unimpaired.vim
	url = https://github.com/vim-scripts/unimpaired.vim.git
[submodule "dotvim/bundle/bash-support.vim"]
	path = dotvim/bundle/bash-support.vim
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "dotvim/bundle/vim-session"]
	path = dotvim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "dotvim/bundle/vim-surround"]
    path = dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/autocorrect"]
    path = dotvim/bundle/autocorrect.vim
	url = https://github.com/vim-scripts/autocorrect.vim.git
[submodule "dotvim/bundle/ctrlp.vim"]
	path = dotvim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotvim/bundle/csapprox"]
    path = dotvim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "dotvim/bundle/vim-endwise"]
    path = dotvim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "dotvim/bundle/TextFormat"]
	path = dotvim/bundle/TextFormat
	url = https://github.com/vim-scripts/TextFormat.git
[submodule "dotvim/bundle/vim-flake8"]
    path = dotvim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "dotvim/bundle/vim-ruby"]
    path = dotvim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dotvim/bundle/vim-rooter"]
    path = dotvim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "dotvim/bundle/vim-kickstart"]
    path = dotvim/bundle/vim-kickstart
	url = https://github.com/vim-scripts/vim-kickstart.git
[submodule "dotvim/bundle/nerdcommenter"]
    path = dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/TaskList.vim"]
    path = dotvim/bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "dotvim/bundle/vim-markdown"]
    path = dotvim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "dotvim/bundle/tabular"]
    path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotvim/bundle/ScrollColors"]
    path = dotvim/bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "dotvim/bundle/supertab"]
    path = dotvim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dotvim/bundle/vim-puppet"]
    path = dotvim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "dotvim/bundle/vim-pathogen"]
    path = dotvim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotvim/bundle/jedi-vim"]
    path = dotvim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "dotvim/bundle/DrawIt"]
	path = dotvim/bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "dotvim/bundle/DeleteTrailingWhitespace"]
	path = dotvim/bundle/DeleteTrailingWhitespace
	url = https://github.com/vim-scripts/DeleteTrailingWhitespace.git
[submodule "dotvim/bundle/asciidoc.vim"]
	path = dotvim/bundle/asciidoc.vim
	url = https://github.com/vim-scripts/asciidoc.vim.git
[submodule "dotvim/bundle/command-t"]
	path = dotvim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "dotvim/bundle/vim-rake"]
	path = dotvim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "dotvim/bundle/vim-rails"]
	path = dotvim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dotvim/bundle/vim-notes"]
	path = dotvim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "dotvim/bundle/vim-kolor"]
	path = dotvim/bundle/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "dotvim/bundle/gruvbox"]
	path = dotvim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotvim/bundle/vim-colors-solarized"]
	path = dotvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotvim/bundle/CoVim"]
	path = dotvim/bundle/CoVim
	url = https://github.com/FredKSchott/CoVim.git
[submodule "dotvim/bundle/vim-misc"]
	path = dotvim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "dotvim/bundle/vim-gitgutter"]
	path = dotvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotvim/bundle/emmet-vim"]
	path = dotvim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
